@import "./utils/fonts";
@import "./utils/variables";
/*BASE*/
@import "./base";
@import "./utils/utils";
@import "./utils/texts";

.container {
  width: 100%;
  max-width: 1288px;
  margin: 0 auto;
  padding: 0 24px;
}
/* BUTTON */
@import "./components/buttons";
/* LINK */
@import "./components/links";
/* HEADER */
@import "./layouts/header";
/* HERO-SECTION */
@import "./layouts/hero-section";

/* ADVANTAGES SECTION */
@import "./layouts/advantages-section";
@import "./layouts/section";

/* TRADITIONS-SECTION */
@import "./layouts/tradition-section";

/* CHEFS-SECTION */
@import "./layouts/chefs-section";
@import "./components/chef-card";
/* FORMATS SECTION */
@import "./layouts/formats-section";
@import "./components/format-card";
/* CAROUSEL */
@import "./components/carousel-button";

/* CONTACTS */
@import "./layouts/contact-section";
/* FOOTER */
.footer {
  padding: 32px 0;
  position: relative;
  background-image: url(/images/footer-background.png);
  background-color: var(--color-primary-dark);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.footer::before,
.footer::after {
  position: absolute;
  background-repeat: no-repeat;
  content: "";
  bottom: 0;
}

.footer::before {
  width: 180px;
  height: 120px;
  background-image: url(/images/decor-bread-small.png);
  left: 0;
}
.footer::after {
  width: 180px;
  height: 120px;
  background-image: url(/images/decor-bread-large.png);
  right: 0;
}

.footer-container {
  display: flex;
  gap: 20px;
}
.footer-nav,
.footer-address {
  display: flex;
  flex-basis: 50%;
  /* flex-grow: 1; */
  gap: 20px;
}
.footer-logo,
.footer-menu,
.adress-list,
.address-info {
  /* flex-grow: 1; */
  flex-basis: 50%;
  gap: 20px;
}

.adress-link {
  color: var(--color-primary-light);
  font-size: 16px;
  font-weight: 300;
  text-decoration: none;
}
.adress-link:hover {
  color: var(--color-brand-normal);
}
.adress-icon {
  fill: var(--color-primary-light);
}
.adress-icon:hover {
  fill: var(--color-brand-normal);
}
.adress-copyright {
  font-size: 14px;
}

/* MODAL */
@import "./layouts/modal";

/* FORM */
@import "./components/input";
@import "./layouts/form-terms";
