@import "./utils/fonts";
@import "./utils/variables";
/*BASE*/
@import "./base";

@import "./utils/utils.scss";
.section {
  padding: 48px 0;
}
.container {
  width: 100%;
  max-width: 1288px;
  margin: 0 auto;
  padding: 0 24px;
}
@import "./components/advantages-section";
@import "./components/buttons";
@import "./components/chefs-section";
@import "./components/contacts-section";
@import "./components/formats-section";
@import "./components/format-section-carousel";
@import "./components/forms";
@import "./components/footer";
@import "./components/header";
@import "./components/hero-section";
@import "./components/links";
@import "./components/modal";
@import "./components/traditions-section";
